/* HELPERS */


/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}