* {
    box-sizing: border-box;
}


/* TYPOGRAPHY */

@font-face {
    font-family: monserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: monserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}


/* BASE */

html {
    font-family: monserrat, sans-serif;
    color: #040a2c;
    line-height: 1.25;
}

body {
    margin: 0;
    background-color: #CA9F92;
    font-size: 16px;
}


/* GALLERY */

.image-gallery {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
}

.meme-img {
    width: 100%;
    height: 100%;
}


/* MODAL */

.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #e0e0e0;
    display: none;
    justify-content: center;
    align-items: center;
}


/* CANVAS */

canvas {
    display: block;
    margin: 0 auto;
    background-color: #D1C6BF;
    /* cursor: grab; */
}

.canvas-container {
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
}