* {
    box-sizing: border-box;
}


/* TYPOGRAPHY */

@font-face {
    font-family: monserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: monserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}


/* BASE */

html {
    font-family: monserrat, sans-serif;
    color: #040a2c;
    line-height: 1.25;
}

body {
    margin: 0;
    background-color: #CA9F92;
    font-size: 16px;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #D1C6BF;
    /* cursor: grab; */
}

.canvas-container {
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
}